@import './base.css';

#app {
  font-weight: normal;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
  }

  #app {
    font-weight: normal;
    display: flex;
    flex-direction: column;
  }
}
